@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;400;700&display=swap');
.awesome{
  font-family: "Raleway";
}

.header{
  background: #000000;
  display: flex;
  justify-content: space-between;
}

.header__logo{
  margin: 22px 0 22px 6%;
}

.header__menu{
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10%;
}

.header__menu li{
  width: 115px;
}

.header__menu a{
  font: normal normal 600 18px/1.35 "Open Sans";
  color: #FFFFFF;
  text-decoration: none;
}

.awesome__title{
  margin: 0;
  font-size: 36px;
  font-weight: 400px;
  text-transform: uppercase;
}

.awesome__tittle-wrapper{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awesome__line{
  width: 170px;
  height: 1px;
  border-top: 1px solid #EC7979;
  margin: auto;
  margin-bottom: 40px;
}

.awesome__subtitle{
  font-family: "Raleway";
  font-size: 18px;
  text-align: center;
  color: #86878B;
  margin: auto;
  margin-bottom: 110px;
}

.awesome__container{
  display: flex;
  justify-content: center;
}

.awesome__block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  flex-wrap:wrap;
  height:320px;
  width: 30%;
  margin:0 10px;
}

.awesome__icon-wrapper{
  width: 92px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EC7979;
  border-radius: 90px;
}

.awesome__block-title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
}

.awesome__subheader{
  font-family: "Raleway";
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/*Information section*/

.awesome__tab{
  width: 200px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
  border: 0px;
}

.awesome__tab-checked{
  width:200px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
  border: 1px solid #C6CBCD;
  border-bottom: none;
  border-radius: 3px;
  margin-bottom:-2px;
}

.informaton{
  margin: 0 auto;
  margin-top: 100px;
  width: 1170px;
}

.awesome__tabs-container{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.awesome__tab-content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 50px;
  border: 1px solid #C6CBCD;
  border-radius: 1px;
}

.awesome__information{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  margin-left: 9%;
  margin-right: 2%;
}

.awesome__tab-content p{
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px
}

.awesome__tab-content h2{
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 30px;
}

.awesome__tab-content button{
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  color: white;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
  width: 270px;
  height: 58px;
  background: #EC7979;
  border: none;
}

/*Section Pricing options styles*/

.pricing{
  margin-top: 60px;
  padding-bottom: 50px;
  background: #F5F5F5;
  width: 100%;
}

.pricing__tittle-wrapper{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing__subtitle{
  font-family: "Raleway";
  font-size: 18px;
  text-align: center;
  color: #86878B;
  margin: auto;
  margin-bottom: 80px;
}

.pricing__sheet{
  display: flex;
  justify-content: center;
}

.pricing__card{
  width: 370px;
  margin: 0 30px;
}

.pricing__card_hover{
  width: 370px;
  margin-top: -20px;
}

.card__shadow{
  box-shadow: 0px 0px 10px 2px #b4b4b4;
}

.pricing__card-top{
  background: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__card-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: auto;
  vertical-align: middle;
}

.pricing__card-price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 36px;
  color: #FFFFFF;
  border: 2px solid #F5F5F5;
  border-right: none;
  border-left: none;
}

.pricing__card-subtitle{
  height: 50px;
  font-family: "Raleway";
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.pricing__card-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__card-list-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  font-family: "Raleway";
  color: #86878B;
  font-size: 18px;
  border-bottom: 2px solid #F5F5F5;
}

/* Customer section styles*/
.customers{
  margin: 0 auto;
  width: 1170px;
}

.customers__subtitle{
  font-family: "Raleway";
  font-size: 18px;
  text-align: center;
  color: #86878B;
  margin-bottom: 80px;
}

.comments{
  display: flex;
  justify-content: space-around;
}

.quotation{
  display: flex;
  flex-direction: column;
  width: 94%
}

.quotation p{
  background: #E2E2E2;
  border-radius: 10px;
  padding:38px 24px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
  text-align: center;
}

.quotation__mark{
  position: relative;
  left: 70px;
  top: -1px;
  width: 0;
  height: 0;
  border-top: 21px solid #E2E2E2;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

.comment__wrapper{
  display:flex;
  flex-direction: column;
  align-items:center;
  width: 33%;
}

.person{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 46px 0 64px 0;
}

.person__text-wrapper :nth-child(1){
  font: normal normal bold 24px/1.375 "Open Sans";
  margin-top: 10px;
  margin-bottom: 24px;
}

.person__text-wrapper :nth-child(2){
  font: normal normal normal 18px/1.16 "Raleway";
}

/*Design section styles*/

.design-section{
  background-image: url("images/Design_background.png"),
                    url("images/bg.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

.design-section h1{
  font: normal normal normal 36px/1.16 "Raleway";
  color: #FFFFFF;
  text-align: center;
  padding: 100px 0 50px 0;
}

.design-section p{
  font: normal normal normal 18px/1.16 "Raleway";
  color: #FFFFFF;
  text-align: center;
}

.design-section__line{
  width: 170px;
  height: 1px;
  border-top: 1px solid #FFFFFF;
  margin: auto;
  margin-bottom: 40px;
}

.design-section button{
  font: normal normal 600 18px/1.39 "Raleway";
  color: #FFFFFF;
  text-align: center;
  text-transform: capitalize;
  width: 370px;
  height: 58px;
  margin: 70px 0 50px 0;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #FFFFFF;
}
/*banner section*/
.contact{
  margin: 0 auto;
  margin-top: 50px;
  width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__tittle-wrapper{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__subtitle{
  font-family: "Raleway";
  font-size: 18px;
  text-align: center;
  color: #86878B;
  margin: auto;
  margin-bottom: 90px;
}

.contact-form{
  display: flex;
  justify-content: space-between;
}

.contact-form__wrapper{
  display: flex;
  flex-direction: column;
  width: 49%;
}

.contact-form__input{
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 16px;
  font: normal normal normal 16px "Open Sans";
  color: #BDBDBD
}

.contact-form__message{
  border: none;
  padding-bottom: 16px;
  font: normal normal normal 16px "Open Sans";
  color: #BDBDBD
}

.contact-form__message:focus{
  outline: none;
}

.contact-form__input:focus{
  outline: none;
}

.contact-form__line{
  width: 100%;
  border-bottom: 1px solid #BDBDBD;
  padding-top: 16px;
}

.contact-form__message-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
  margin-bottom: 50px;
}

.contact-form__button{
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  color: white;
  text-align: center;
  text-transform: capitalize;
  width: 370px;
  height: 58px;
  margin: 0 auto;
  margin-bottom:50px;
  background: #EC7979;
  border: none;
}

/*footer section*/

.footer{
  background-color: #000000;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__icons-block{
  display: flex;
  justify-content: center;
}

.footer__icon-wrapper{
  display: flex;
  justify-content: center;
  width: 55px;
  margin: 35px 15px 0 15px;
}

.fa {
  color: #CCCCCC;
}

.footer p{
  font: normal normal normal 18px/1.16 "Raleway";
  color: rgba(255, 255, 255, 0.5);
  margin: 35px 0;
}

/*banner2 section*/
.banner{
  background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("images/banner_background.png");
  background-size:cover;
  width: 100%;
  padding-bottom: 200px;
}

.banner__wrapper{
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.banner__title-content{
  padding-right: 30px;
  width: 670px;
}

.banner__title{
  font: normal normal 500 48px "Raleway";
  text-transform: uppercase;
  color: #FFFFFF;
}
.banner__subtitle{
  font: normal normal normal 18px/1.16 "Raleway";
  color: #FFFFFF;
  width: 45%;
}

.banner__line{
  width: 170px;
  height: 1px;
  border-top: 1px solid #FFFFFF;
  margin: 50px 0;
}

.banner__logo{
  width: 150px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-bottom: 50px;
}

.title-content__button{
  font: normal normal 600 18px/1.39 "Raleway";
  color: #FFFFFF;
  text-align: center;
  text-transform: capitalize;
  width: 370px;
  height: 58px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #FFFFFF;
}

.banner-form{
  position: relative;
  background: #FFFFFF;
  border-radius: 10px;
  width: 450px;
  height: 470px;
  display:flex;
  flex-direction: column;
}

.banner-form__input{
  margin:0 auto;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 16px;
  width:70%;
  font: normal normal normal 16px "Open Sans";
  color: #BDBDBD
}

.banner-form__title{
  font: normal normal 700 24px"Open Sans";
  text-align: center;
  margin: 35px 0 60px 0;
}

.banner-form__title span{
  color: #EC7979;
}

.banner-form__button{
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  bottom: 0;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  color: white;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  height: 60px;
  background: #EC7979;
  border: none;
}

/*Social section*/

.social{
  background-color: #F8EFEF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social__icons-block{
  display: flex;
  justify-content: center;
  margin-right: 8%;
}

.social__icon-wrapper{
  display: flex;
  justify-content: center;
  width: 55px;
  margin: 45px 20px 45px 20px;
  
}

.social__text-wrapper{
  width: 470px;
  margin-left: 8%;
}

.social__title{
  font: normal normal 700 24px/1.35 "Open Sans";
  color: #333333;
} 

.social__subtitle{
  font-family: "Raleway";
  font-size: 18px;
  color: #86878B;
  margin-top: 18px;
}

/*Styles for a tablet*/

@media screen and (min-device-width: 1024px) and (max-device-width: 1299px) {
  .customers{
    margin: 0 auto;
    width: 95%; 
  }

  .contact{
    width: 95%;
  }

  .informaton{
    width: 95%;
  }
  .banner__title-content{
    width: 45%;
  }

  .social__text-wrapper{
    margin-left: 3%;
  }

  .social__icons-block{
    margin-right: 3%;
  }

}


@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .header__menu{
    margin-right: 2%;
  }
  
  .customers{
    margin: 0 auto;
    width: 95%
  }

  .contact{
    width: 95%;
  }

  .informaton{
    margin-top: 50px;
    width: 95%;
  }

  .banner{
    padding-bottom: 100px;
  }
/*banner section*/
  .banner-form{
    width: 400px;
    height: 450px;
  }

  .banner__wrapper{
    padding-top: 13%;
    margin: 0 2% 0 10%;
    justify-content:space-between;
  }

  .banner__logo{
    width: 110px;
    padding-top: 22px;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }

  .banner__title-content{
    width: 45%;
    padding-right: 0px;
  }

  .banner__line{
    width: 115px;
    margin: 40px 0 30px 0;
  }

  .title-content__button{
    width: 183px;
    height: 50px;
    margin: 30px 0 15px 0;
  }

  .banner__title{
    font-size: 36px;
  }

  .banner__subtitle{
    font-size: 14px;
  }

  .banner-form__input{
    width:75%;
  }

  /*Social section*/
  .social__text-wrapper{
    margin-left: 3%;
  }

  .social__icons-block{
    margin-right: 3%;
  }

  .social__icon-wrapper{
    width: 50px;
    margin: 30px 0px 30px 30px;
  }

  .social__title{
    font-size: 18px;
  } 

  .social__subtitle{
    font-size: 14px;
  }

  /*Information section*/

  .awesome__tab{
    width: 170px;
  }
  
  .awesome__tab-checked{
    width:170px;
  }

  .awesome__tab-content p{
    font-size: 14px;
  }

  .awesome__tab-content h2{
    font-size: 24px;
  }

  .awesome__tab-content button{
    width: 230px;
  }

  .information__background{
    width:400px;
  }

  /*Why this is awesome*/
  .awesome__title{
    font-size: 24px;
  }

  .awesome__line{
    width: 140px;
    margin-bottom: 32px;
  }
  .awesome__tittle-wrapper{
    height: 120px;
  }

  .awesome__icon-wrapper{
    width: 80px;
    height: 80px;
    border-radius: 80px;
  }
  .awesome__icon-wrapper img{
    height: 70%;
    width:70%
  }
  
  .awesome__block-title{
    font-size: 18px;
  }
  
  .awesome__subheader{
    font-size: 14px;
  }
  /*Pricing section*/
  .pricing__subtitle{
    margin-bottom: 50px;
  }
  .pricing__card{
    width: 320px;
    margin: 0 1%;
  }
  
  .pricing__card_hover{
    width: 320px;
    margin-top: -20px;
  }
  
  .pricing__card-title{
    height: 45px;
  }
  
  .pricing__card-price{
    height: 90px;
  }
  
  .pricing__card-subtitle{
    height: 45px;
  }
  
  .pricing__card-list-item{
    height: 45px;
  }
}